body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

h1 {
    background-color: #4b004f;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}

form {
    background-color: #d3ccd1;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;

}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #ddd;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #bbb;
}

footer {
    background-color: #4b004f;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}