body {
    display: grid;  
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto; 
}

header {
    grid-area: header;
    background-color: #02362c;
    padding: 20px;
    text-align: center;
}


main {
    grid-area: main;
    background-color: #982020;
    padding: 20px;
}   


aside {
    grid-area: aside;
    background-color: #183172;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}